<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Index</title>
    </head>
    <body>
        <div class="header">
            <h1>The Country App</h1>
            <button type="button" class="btn btn-secondary btn-lg"><a href="enter.html">ENTER A COUNTRY HERE</a></button>
            <a>__________</a>
            <button type="button" class="btn btn-secondary btn-lg"><a href="history.html">Your History</a></button>
        </div>


            </div>
            <p>Welcome to Kieran's app. Here you can find info on any country you want.</p>

            <h3>This site provides:</h3>

            <li>The country's name</li>
            <li>It's flag</li>
            <li>The country's capital</li>
            <li>It's location/subreigon</li>
            <li>The country's population</li>


        </div>
    </body>
</html>