<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Info</title>
    </head>
    <body>
        <div class="header">
            <h1>Information on {{country}}</h1>
            <a href="index.html">Home</a>
            <a href="history.html">Your History</a>
        </div>
        <div class="container">
            <div class="section">

                <h2>{{country_info}}</h2>

                <form action ="/info" method ="post">


                    <div class="section">


                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Birthday</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- TODO: Loop through the database entries to display them in this table -->
                                {% block main %}

                                    <tr>
                                        <td>flag</td>
                                        <td>information</td>
                                        
                                    </tr>

                                {% endblock %}
                            </tbody>
                        </table>
                    </div>



                </form>

            </div>
            <p>shit</p>

            <h3>Info on this country:</h3>

            <li>The country's name</li>
            <li>The country's native name</li>
            <li>The country's capital</li>
            <li>It's location/subreigon</li>
            <li>The country's area in square kilometers</li>


        </div>
    </body>
</html>